.sendEmail{
    margin-top: 20px;
    a{
        display: block;
        color: #0078d4;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 20px;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    a.imgLink{
        display: inline-block;
    }
}